services:
  kcache-etcd:
    image: quay.io/coreos/etcd:v3.5.0
    container_name: kcache-etcd
    network_mode: host
    environment:
      - ETCD_ADVERTISE_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379

  kcache-node-a:
    image: kcache:latest
    container_name: kcache-node-a
    network_mode: host
    depends_on:
      - kcache-etcd
    command: ["/app/bin/node_server", "--port=8001", "--node=A", "--etcd_endpoints=http://localhost:2379"]

  kcache-node-b:
    image: kcache:latest
    container_name: kcache-node-b
    network_mode: host
    depends_on:
      - kcache-etcd
    command: ["/app/bin/node_server", "--port=8002", "--node=B", "--etcd_endpoints=http://localhost:2379"]

  kcache-node-c:
    image: kcache:latest
    container_name: kcache-node-c
    network_mode: host
    depends_on:
      - kcache-etcd
    command: ["/app/bin/node_server", "--port=8003", "--node=C", "--etcd_endpoints=http://localhost:2379"]

  kcache-gateway:
    image: kcache:latest
    container_name: kcache-gateway
    network_mode: host
    depends_on:
      - kcache-etcd
      - kcache-node-a
      - kcache-node-b
      - kcache-node-c
    command: ["/app/bin/http_gateway", "--http_port=9000", "--etcd_endpoints=http://localhost:2379"]